aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.13.5
black==25.1.0
certifi==2025.8.3
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
cssutils==2.11.1
currency-symbols==2.0.4
distlib==0.4.0
dotenv==0.9.9
et_xmlfile==2.0.0
filelock==3.19.1
fonttools==4.59.2
frozenlist==1.7.0
identify==2.6.14
idna==3.10
more-itertools==10.8.0
multidict==6.6.4
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
pre_commit==4.3.0
propcache==0.3.2
pyright==1.1.405
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
ruff==0.12.12
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.34.0
webcolors==24.11.1
xlrd==2.0.2
xls2xlsx==0.2.0
yarl==1.20.1
